<mat-card style="padding: 2%; margin-bottom: 1%">
  <mat-card-header>
    <mat-card-title
      >Complete project -
      <span style="font-size: medium; color: orange"
        >medium</span
      ></mat-card-title
    >
    <mat-card-subtitle
      >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, ad sed?
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <!-- here -->
    <mat-chip-listbox aria-label="Fish selection">
      <mat-chip-option>To Do</mat-chip-option>
      <mat-chip-option>In Progress</mat-chip-option>
      <mat-chip-option color="accent">Done</mat-chip-option>
    </mat-chip-listbox>
    <!-- here -->
  </mat-card-actions>
  <mat-card-footer>
    <mat-card-subtitle
      >Due Date: <span style="color: blue">19/12/12</span></mat-card-subtitle
    >
  </mat-card-footer>
</mat-card>
